.DS_Store

# LateX
*.aux
*.bbl
*.log
*.nav
*.snm
*.out
*.synctex.gz
*.toc
*.fls
*.run.xml
*.fdb_latexmk
*.blg
*-blx.bib
*.bcf
*.blg
*.glo
*.ist
*.lof
*.log
*.lot
*.ntn*
*.slg
*.symbol
*.glg
*.gls
*.abbreviation